# Testing Files
.pytest_cache
.coverage
htmlcov/
reports/*

# Config files
*.cfg
!.rdrhc_calendar.cfg
!setup.cfg

# Development files
dev_calendars/*
!dev_calendars/.gitkeep
dev_schedules/*
!dev_schedules/.gitkeep

# IDE Files
settings.json
