[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"  # https://openpyxl.readthedocs.io/en/stable/
pytz = "*"  # https://pythonhosted.org/pytz/
requests = "*" # http://docs.python-requests.org/en/master/
sentry-sdk = "*"  # https://docs.sentry.io/quickstart/?platform=python
Unipath = "*"  # https://github.com/mikeorr/Unipath
xlrd = "*"  # https://xlrd.readthedocs.io/en/latest/

[dev-packages]
pylint = "*"  # https://github.com/PyCQA/pylint/

[requires]
python_version = "3.6"
