[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "==2.4.5"
xlrd = "==1.0.0"
Unipath = "==1.1"
pylint = "*"
# Study Buffalo Django Requirements
# ------------------------------------------------------------------------------
argon2-cffi = "==18.1.0"  # https://github.com/hynek/argon2_cffi
boto3 = "==1.6.2"  # https://github.com/boto/boto3
pillow = "==5.0.0"  # https://github.com/python-pillow/Pillow
psycopg2-binary = "==2.7.4"  # https://github.com/psycopg/psycopg2
raven = "==6.6.0"  # https://github.com/jschneier/django-storages
redis = ">=2.10.5"  # https://github.com/antirez/redis
whitenoise = "==3.3.1"  # https://github.com/evansd/whitenoise
django = "==2.0.3"  # https://www.djangoproject.com/
django-environ = "==0.4.4"  # https://github.com/joke2k/django-environ
django-allauth = "==0.35.0"  # https://github.com/pennersr/django-allauth
django-redis = "==4.9.0"  # https://github.com/niwinz/django-redis
django-storages = "==1.6.6"  # https://github.com/jschneier/django-storages
django-simple-history = ">=1.9.0"
djangorestframework = "==3.7.7"  # https://github.com/encode/django-rest-framework
coreapi = "==2.3.3"  # https://github.com/core-api/python-client
python-json-logger = "*"

[dev-packages]

[requires]
python_version = "3.6"
