<html>
	<head></head>
	<body>
        <p>
            Hello {{ user_name }},
        </p>
        <p>
            Please see the following details regarding your work schedule at the Red Deer Regional Hospital Centre:
        </p>
        
        {% block additions %}
        <p>
            <b>ADDITIONS</b>
            <ul>{{ additions }}</ul>
        </p>
        {% block additions %}
        {% block deletions %}
        <p>
            <b>DELETIONS</b>
            <ul>{{ deletions }}</ul>
        </p>
        {% block deletions %}
        {% block changes %}
        <p>
            <b>CHANGES</b>
            <ul>{{ changes }}</ul>
        </p>
        {% block changes %}
        {% block missing %}
        <p>
            <b>MISSING SHIFT CODES</b><br>
            <i>A default shift time of {{ weekday_start }} to {{ weekday_end }} (weekdays), {{ weekend_start }} to {{ weekend_end }} (weekends), or {{ stat_start }} to {{ stat_end }} (statutory holidays) has been used for these shifts.</i>
            <ul>{{ missing }}</ul>
        </p>
        {% block missing %}
        {% block excluded %}
        <p>
            <b>EXCLUDED CODES</b><br>
            <i>These codes are for you to review to ensure no work shifts have been missed; these codes have interpretted either as holidays/vacations/sick time/etc. or as being unrelated to start and end times.</i>
            <ul>{{ excluded }}</ul>
        </p>
        {% block excluded %}
        <hr>

        <p>
            The address for your schedule is: <a href="https://www.studybuffalo.com/calendar/{{ calendar_name }}.ics">https://www.studybuffalo.com/calendar/{{ calendar_name }}.ics</a>.
        </p>

        <p>
            For help using the calendar file, please see the tutorials located at: <a href="https://www.studybuffalo.com/rdrhc-calendar/">https://www.studybuffalo.com/rdrhc-calendar/</a>.
        </p>

        <p>
            If you wish to have any modifications made to your shift codes (including exlcuded or missing shift codes), please contact the owner of this program.
        </p>

        <hr>

        <p>
            If you would no longer like to receive email updates, you may <a href="https://www.studybuffalo.com/unsubscribe/">unbscribe by clicking on this link</a> or visiting <a href="https://www.studybuffalo.com/unsubscribe">https://www.studybuffalo.com/unsubscribe/</a>
        </p>
</body>
</html>